<% provide(:title, "About") %>
<h1>About</h1>

<p>
	The goal of the Unofficial Renaissance Adventures app is to provide an easy and accurate way to keep track of character statististics for questers in the Renaissance Adventures summer camp in Boulder Colorado.
</p>
