<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>
	Hello, my name is Jesse Caldwell.  I am developing this app as a first project in Ruby on Rails.  I will undoubtedly make errors, and many that I will not catch on my own.  

	<br>
	<br>

	If you find a bug, like a feature, or have suggestions for the design of the site and its function, please contact me <a href="mailto:CollectionOfAtoms@gmail.com?" 
	 Subject= "Attn:%20RA_app"
	 target="_top">here</a>

	</br>
	</br>

	You can view this project on github 
	<a href="https://github.com/CollectionOfAtoms/RA_app">
		here </a>