<% provide(:title, "Help")%>

<h1>Help</h1>
<p>
	 This project represents my first personal effort to produce a functional Ruby on Rails App.  I am certain that I will be working out the bugs for awhile.  If you find any bugs, or have any suggestions, please send them to <a href="mailto:CollectionOfAtoms@gmail.com?" 
	 Subject= "Attn:%20RA_app"
	 target="_top">CollectionOfAtoms@gmail.com</a>

	 <br>
	 <br>

	 	Have a nice day!
</p>
