<!DOCTYPE html>
<html>
	<head>
		<title>URA | Home</title>
	</head>
	<body>
		
		<h1>The Unofficial Renaissance Adventures app</h1>

		<h3>
			This is the home page for the future Unofficial Renaissance Adventures (URA) web app.
		</h3>

		<br>
		<div>
		<br>

		<p>
			Please report any errors, bugs, concerns, whatever, to 
			<a href="mailto:CollectionOfAtoms@gmail.com?" 
			 Subject= "Attn:%20RA_app"
			 target="_top">CollectionOfAtoms@gmail.com</a>
		</p>
	</body>
</html>


